<a href="https://colab.research.google.com/github/nugi1209/Virtual_Experience_KPMG_Data_Analytics/blob/master/KPMG_Virtual_Experience_2_Nugroho_Budianggoro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [576]:
import pandas as pd
import seaborn as sns
import matplotlib
import numpy as np

In [577]:
url = "https://github.com/nugi1209/Virtual_Experience_KPMG_Data_Analytics/blob/master/KPMG_VI_New_raw_data_update_final.xlsx?raw=true"
xls = pd.ExcelFile(url)

In [578]:
xls.sheet_names

['Title Sheet',
 'Transactions',
 'NewCustomerList',
 'CustomerDemographic',
 'CustomerAddress']

In [579]:
df_tr = pd.read_excel(url, sheet_name = 1, header = 1)
df_tr.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [580]:
df_nc = pd.read_excel(url, sheet_name = 2, header = 1)
df_nc["new_customer"] = True
df_nc["customer_id"] = 0
df_nc.columns

Index(['first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'address', 'postcode', 'state', 'country',
       'property_valuation', 'Unnamed: 16', 'Unnamed: 17', 'Unnamed: 18',
       'Unnamed: 19', 'Unnamed: 20', 'Rank', 'Value', 'new_customer',
       'customer_id'],
      dtype='object')

In [581]:
df_cd = pd.read_excel(url, sheet_name = 3, header = 1)
df_cd["new_customer"] = False
df_cd.columns
df_cd.head()

   customer_id      first_name  last_name  ... owns_car  tenure new_customer
0            1         Laraine  Medendorp  ...      Yes    11.0        False
1            2             Eli    Bockman  ...      Yes    16.0        False
2            3           Arlin     Dearle  ...      Yes    15.0        False
3            4          Talbot        NaN  ...       No     7.0        False
4            5  Sheila-kathryn     Calton  ...      Yes     8.0        False

[5 rows x 14 columns]

In [582]:
df_ca = pd.read_excel(url, sheet_name = 4, header = 1)
df_ca.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

TRANSACTIONS

In [583]:
df_tr.shape

(20000, 13)

In [584]:
df_tr = df_tr.loc[df_tr["order_status"] != "Cancelled"]

In [585]:
df_tr.shape

(19821, 13)

In [586]:
df_tr_pr = df_tr.groupby(["customer_id"], as_index = False).sum()
df_tr_pr["profit_per_customer"] = df_tr_pr["list_price"] - df_tr_pr['standard_cost']
# df_tr_pr.head()

In [587]:
keep_cols1 = ["customer_id", "profit_per_customer"]
df_tr_pr = df_tr_pr[keep_cols1]
df_tr_pr.head()

   customer_id  profit_per_customer
0            1              3018.09
1            2              2226.26
2            3              3362.81
3            4               220.57
4            5              2394.94

In [588]:
df_tr_lp = df_tr.sort_values("transaction_date").groupby("customer_id").tail(1)

In [589]:
benchmark_date = pd.to_datetime("2018-01-01")
df_tr_lp["days_to_latest_purchase"] = benchmark_date - pd.to_datetime(df_tr_lp["transaction_date"])
keep_cols2 = ["customer_id", "days_to_latest_purchase"]
df_tr_lp = df_tr_lp[keep_cols2]

In [590]:
df_tr_lp["days_to_latest_purchase"].dtypes

dtype('<m8[ns]')

In [591]:
df_tr_lp["days_to_latest_purchase"] = df_tr_lp["days_to_latest_purchase"].astype(str).str.replace(" days", "")
df_tr_lp["days_to_latest_purchase"] = df_tr_lp["days_to_latest_purchase"].astype(int)
df_tr_lp.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       customer_id  days_to_latest_purchase
13976         2807                      355
7262          1846                      335
8764          1544                      331
5378           822                      330
13825         2876                      327

In [592]:
df_tr_fr = df_tr.groupby("customer_id", as_index=False).size()
df_tr_fr.head()

   customer_id  size
0            1    11
1            2     3
2            3     8
3            4     2
4            5     6

In [593]:
df_rfm = pd.merge(df_tr_pr, df_tr_lp, how="inner", on=["customer_id"])
df_rfm = pd.merge(df_rfm, df_tr_fr, how="inner", on=["customer_id"])
df_rfm = df_rfm.rename(columns={"size":"purchase_frequency"})
df_rfm.head()

   customer_id  ...  purchase_frequency
0            1  ...                  11
1            2  ...                   3
2            3  ...                   8
3            4  ...                   2
4            5  ...                   6

[5 rows x 4 columns]

In [594]:
df_rfm.isnull().sum()

customer_id                0
profit_per_customer        0
days_to_latest_purchase    0
purchase_frequency         0
dtype: int64

In [595]:
# mpg = sns.load_dataset("mpg")

# # Plot miles per gallon against horsepower with other semantics
# sns.relplot(x="horsepower", y="mpg", hue="origin", size="weight",
#             sizes=(40, 400), alpha=.5, palette="muted",
#             height=6, data=mpg)

# df_plot1 = sns.load_dataset("df_rfm")
# sns.set_theme(style="white")
# sns.relplot(x="days_to_latest_purchase", y="purchase_frequency", 
#             hue="profit_per_customer", sizes=(5, 200), alpha=.5, palette="muted",
#             height=6, data=df_rfm)

In [596]:
df_cst = pd.merge(df_cd,df_ca, how="inner", on=["customer_id"])
keep_cols3 = ["customer_id",
              "gender", 
              'past_3_years_bike_related_purchases', 
              "DOB",
              "job_title",
              "job_industry_category",
              "wealth_segment",
              "owns_car",
              "tenure",
              "postcode",
              "state",
              "property_valuation",
              "deceased_indicator",
              "new_customer"]

df_cst = df_cst[keep_cols3]

df_cst.head()

   customer_id  gender  ...  deceased_indicator new_customer
0            1       F  ...                   N        False
1            2    Male  ...                   N        False
2            4    Male  ...                   N        False
3            5  Female  ...                   N        False
4            6    Male  ...                   N        False

[5 rows x 14 columns]

In [597]:
df_nc = df_nc[keep_cols3]
list(df_nc.columns)

['customer_id',
 'gender',
 'past_3_years_bike_related_purchases',
 'DOB',
 'job_title',
 'job_industry_category',
 'wealth_segment',
 'owns_car',
 'tenure',
 'postcode',
 'state',
 'property_valuation',
 'deceased_indicator',
 'new_customer']

In [598]:
df_cst = pd.concat([df_cst, df_nc])
df_cst.head()

   customer_id  gender  ...  deceased_indicator new_customer
0            1       F  ...                   N        False
1            2    Male  ...                   N        False
2            4    Male  ...                   N        False
3            5  Female  ...                   N        False
4            6    Male  ...                   N        False

[5 rows x 14 columns]

In [599]:
df_cst.shape

(4996, 14)

In [600]:
df_cst["gender"] = df_cst["gender"].replace({"F":"Female", "Femal":"Female", "M":"Male", "U": None})
df_cst["state"] = df_cst["state"].replace({"New South Wales":"NSW", "Victoria":"VIC"})
df_cst = df_cst.replace({"n/a": None, "Argiculture":"Agriculture"})
df_cst = df_cst.dropna()

In [601]:
df_cst.isnull().sum()

customer_id                            0
gender                                 0
past_3_years_bike_related_purchases    0
DOB                                    0
job_title                              0
job_industry_category                  0
wealth_segment                         0
owns_car                               0
tenure                                 0
postcode                               0
state                                  0
property_valuation                     0
deceased_indicator                     0
new_customer                           0
dtype: int64

In [602]:
df_cst.shape

(3597, 14)

In [603]:
df_cst["gender"].unique()

array(['Female', 'Male'], dtype=object)

In [604]:
df_cst["wealth_segment"].unique()

array(['Mass Customer', 'Affluent Customer', 'High Net Worth'],
      dtype=object)

In [605]:
df_cst["property_valuation"].unique()

array([10, 12,  4,  6,  8,  9,  7,  3,  5,  1,  2, 11])

In [606]:
df_cst.dtypes

customer_id                                     int64
gender                                         object
past_3_years_bike_related_purchases             int64
DOB                                    datetime64[ns]
job_title                                      object
job_industry_category                          object
wealth_segment                                 object
owns_car                                       object
tenure                                        float64
postcode                                        int64
state                                          object
property_valuation                              int64
deceased_indicator                             object
new_customer                                     bool
dtype: object

In [607]:
df_cst = df_cst.loc[df_cst["deceased_indicator"] == "N"]
df_cst = df_cst.drop(columns=["deceased_indicator"])

In [608]:
df_cst["age"] = benchmark_date - pd.to_datetime(df_cst["DOB"])
df_cst["age"].dtypes

dtype('<m8[ns]')

In [609]:
df_cst["age"] = df_cst["age"] / np.timedelta64(1,"Y")
df_cst["age"] = df_cst["age"].astype(int)
df_cst = df_cst.drop(columns=["DOB"])
df_cst.head()

    customer_id  gender  ...  new_customer age
0             1  Female  ...         False  64
1             2    Male  ...         False  37
7             9  Female  ...         False  44
9            12    Male  ...         False  23
10           13    Male  ...         False  62

[5 rows x 13 columns]

In [610]:
len(df_cst[(df_cst["new_customer"]==True)])

735

In [611]:
len(df_cst[df_cst["new_customer"]==False])

2860

In [612]:
df_cst["job_title"].unique()

array(['Executive Secretary', 'Administrative Officer',
       'Business Systems Development Analyst', 'Nuclear Power Engineer',
       'Developer I', 'Account Executive', 'Junior Executive',
       'Geological Engineer', 'Project Manager', 'Safety Technician I',
       'Research Assistant I', 'Accounting Assistant III', 'Editor',
       'Research Nurse', 'Senior Quality Engineer',
       'Safety Technician III', 'Staff Accountant III', 'Legal Assistant',
       'Information Systems Manager', 'Social Worker',
       'Senior Cost Accountant', 'Assistant Media Planner',
       'Payment Adjustment Coordinator', 'Food Chemist', 'Accountant III',
       'Director of Sales', 'Senior Financial Analyst',
       'Registered Nurse', 'Computer Systems Analyst II',
       'Software Test Engineer II', 'Sales Associate', 'Paralegal',
       'VP Sales', 'Office Assistant III', 'Help Desk Operator',
       'Web Developer II', 'Research Associate', 'VP Product Management',
       'Statistician II', 'Automation Specialist IV', 'Data Coordiator',
       'Software Test Engineer III', 'Internal Auditor',
       'Occupational Therapist', 'Speech Pathologist',
       'Quality Control Specialist', 'Recruiting Manager',
       'Civil Engineer', 'Software Engineer III',
       'Community Outreach Specialist', 'Safety Technician IV',
       'VP Accounting', 'General Manager', 'Nurse Practicioner',
       'Product Engineer', 'Automation Specialist II',
       'Marketing Manager', 'Teacher', 'Assistant Professor',
       'Graphic Designer', 'Analyst Programmer',
       'Administrative Assistant II', 'Compensation Analyst',
       'Systems Administrator III', 'Financial Advisor',
       'Chemical Engineer', 'Web Designer I', 'Senior Developer',
       'Office Assistant II', 'Recruiter', 'Operator',
       'Programmer Analyst III', 'Quality Engineer',
       'Analog Circuit Design manager', 'Cost Accountant', 'Librarian',
       'Senior Editor', 'Structural Analysis Engineer', 'Pharmacist',
       'Assistant Manager', 'Accountant I', 'Professor',
       'Environmental Tech', 'Web Designer III', 'Geologist III',
       'Software Test Engineer I', 'Safety Technician II',
       'Web Developer III', 'Programmer Analyst II',
       'Physical Therapy Assistant', 'Design Engineer', 'VP Marketing',
       'Desktop Support Technician', 'Actuary',
       'Database Administrator III', 'Electrical Engineer',
       'Tax Accountant', 'Clinical Specialist',
       'Database Administrator IV', 'Systems Administrator II',
       'Chief Design Engineer', 'Account Coordinator',
       'Administrative Assistant III', 'Nurse', 'Associate Professor',
       'Technical Writer', 'Staff Accountant II', 'Dental Hygienist',
       'Sales Representative', 'VP Quality Control', 'Financial Analyst',
       'Accounting Assistant II', 'Engineer I',
       'Budget/Accounting Analyst I', 'Developer IV',
       'Database Administrator I', 'Marketing Assistant',
       'Environmental Specialist', 'Programmer III',
       'Computer Systems Analyst I', 'Account Representative IV',
       'Statistician IV', 'Human Resources Manager',
       'GIS Technical Architect', 'Programmer IV',
       'Senior Sales Associate', 'Computer Systems Analyst IV',
       'Database Administrator II', 'Staff Scientist',
       'Software Engineer IV', 'Programmer II', 'Structural Engineer',
       'Engineer III', 'Geologist I', 'Biostatistician IV',
       'Help Desk Technician', 'Automation Specialist I', 'Developer III',
       'Human Resources Assistant I', 'Geologist IV', 'Media Manager II',
       'Statistician III', 'Engineer II', 'Budget/Accounting Analyst III',
       'Health Coach II', 'Developer II', 'Systems Administrator I',
       'Software Engineer II', 'Accounting Assistant I',
       'Research Assistant II', 'Health Coach I', 'Accountant II',
       'Automation Specialist III', 'Administrative Assistant I',
       'Health Coach IV', 'Media Manager III', 'Media Manager IV',
       'Budget/Accounting Analyst II', 'Web Developer IV',
       'Software Consultant', 'Accounting Assistant IV',
       'Biostatistician III', 'Software Test Engineer IV',
       'Account Representative III', 'Research Assistant IV',
       'Media Manager I', 'Account Representative I', 'Web Designer IV',
       'Accountant IV', 'Biostatistician I',
       'Budget/Accounting Analyst IV', 'Human Resources Assistant IV',
       'Programmer I', 'Office Assistant I', 'Web Developer I',
       'Human Resources Assistant II', 'Mechanical Systems Engineer',
       'Statistician I', 'Engineer IV', 'Administrative Assistant IV',
       'Health Coach III', 'Office Assistant IV', 'Software Engineer I',
       'Human Resources Assistant III', 'Staff Accountant I',
       'Computer Systems Analyst III', 'Geologist II', 'Web Designer II',
       'Biostatistician II', 'Staff Accountant IV',
       'Account Representative II', 'Programmer Analyst IV',
       'Programmer Analyst I', 'Systems Administrator IV',
       'Research Assistant III'], dtype=object)

In [613]:
df_cst["job_industry_category"].unique()

array(['Health', 'Financial Services', 'Argiculture', 'Manufacturing',
       'Telecommunications', 'Entertainment', 'Retail', 'Property', 'IT'],
      dtype=object)